@media all and (min-width: 480px) {
  .Auth {
    padding: 60px 0;
  }

  .Auth .card-style {
    margin: 0 auto;
    max-width: 320px;
  }

  .Auth .login-style {
    margin: 0 auto;
    max-width: 320px;
  }
}

.backgroundImg {
  background-image: url('../../Assets/loginregister.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat
  }